@import url(https://eight-p.github.io/BD.8P/Themes/T1/imports/T1.main.css);

:root {
	--Main_Background: url("https://cdn.discordapp.com/attachments/608848206293368832/609462859344248860/1561507406308.jpg");
	--Main_Brightness: 40 ;
	--Main_Background_blur: 0 ;
	
	--Server_Background: url(https://eight-p.github.io/BD.8P/Themes/T1/imports/Server-bg.jpg);
    --Server_Brightness: 100 ;
	--Server_Background_blur: 0 ;
	
	--show-nitro-btn: 0 ;
	--show-gif-btn: 1 ;
	--show-sticker-btn: 0 ;
	--show-emoji-btn: 1 ;
	
	--show-home-tabs: 1 ; 
	--show-serverboost-stats: 1 ; 
	
	--always-show-voicecontrols: 0 ; 
	
	--Font: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif ;
}

.titleBar-1it3bQ .wordmark-2u86JB::after {
	letter-spacing: 1px;
	
	content: "Kali Was Here :]";
	position: absolute;
	
	background: rgba(0,0,0,0);
	color: rgba(255,255,255,1);
	
	background-clip: text;
	
	font-size: 15px;
	font-weight: bold;
	
	top: 5px;
	left: 5px;
	width: 250px;
}

.wordmarkWindows-2dq6rw > * {
	display: none;
}
