.titleBar-1it3bQ .wordmark-2u86JB::after {
	content: "Kali Was Here";
	position: absolute;
	
	background-clip: text;
	letter-spacing: 1px;
	
	font-size: 12.5px;
	font-weight: bold;
	
	top: 5px;
	left: 5px;
	
	width: 250px;
}

.wordmarkWindows-2dq6rw > * {
    display: none;
}

.uploadModal-2ie9 .app-2CXKsg > .bg-1QIAus {
    background: url("https://cdn.discordapp.com/attachments/608848206293368832/609462859344248860/1561507406308.jpg") !important;
    background-size: cover !important;
}

.app-2CXKsg>.bg-1QIAus {
    background: url("https://cdn.discordapp.com/attachments/608848206293368832/609462859344248860/1561507406308.jpg") !important;
    background-size: cover !important;
}

.backdrop-2ByYRN {
    background-color: rgba(0, 0, 0, 0.5); !important;
}

.focusLock-2tveLW > *, .flex-2S1XBF {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.scroller-WSmht3, .members-3WRCEx, .members-3WRCEx > div > div, .container-1oAagU, .container-1oAagU > div > div {
    background-color: transparent;
}

.imageDetails-1t6Zms {
    background-color: transparent !important;
}
